*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  /*margin: auto;*/
}

.comment-heading {
  font-size: 14px;
  color: #006bb3;
  font-weight: bold;
}

.title-super {
  font-size: 60px;
  font-weight: 100;
}

.row {
  padding-top: 5px;
}

.comments-area {
  margin-bottom: 5px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.logo-img {
  max-width: 130px;
  vertical-align: baseline;
}

/*.greetings {
  text-align: right;
}*/
@media screen and (max-width: 960px) {
  /*.logo-img {
    display: block;
    margin: 0 auto;
  }*/
}

@media screen and (max-width: 767px) {
.logo-img {
    display: block;
    margin: 0 auto;
}
.title-text {
    text-align: center;
}
}

.navbar-text {
  margin-left: 15px;
}
