{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-12" style="font-weight: 300; font-size: 30;">
      {{ post.title }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{ post.content.replace('\n','<br>') | safe }}
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-12">
      <a href="/blog/newpost" class="btn btn-sm btn-primary">Create Another Post</a>
      <a href="/blog" class="btn btn-sm btn-success">I am Done !</a>
    </div>
  </div> -->
</div>
  <div class="row">
    {% for comment in post.comments %}
    <div class="col-sm-8">
      <hr />
        <div class="comment-heading text-right" style="display: inline;">
          {{ comment.commenter.username }}
        </div>
        <div class="pull-right">
          <a href="/blog/editcomment?comment_id={{comment.key().id()}}" class="btn btn-xs btn-success">Edit</a> |
          <form method="post" action="/blog/deletecomment" style="display: inline;">
            <button type="submit" class="btn btn-xs btn-danger">
              <input type="hidden" name="comment_id" value="{{comment.key().id()}}" />
              <i class="glyphicon glyphicon-trash"></i>&nbsp;Delete
            </button>
          </form>
        </div>

      <p>
        {{ comment.comment }}
      </p>
    </div>
    {% endfor %}


  </div>
  <div class="row">
    <div class="col-sm-5">
      <form method="post" action="/blog/commentpost?post_id={{ post.key().id()}}">
        <h4> Enter your comments below</h4>
        <textarea name="comments" rows="5" cols="50" class="form-control comments-area"></textarea>
        <button type="submit" class="btn btn-sm btn-primary">Post away!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
