{% extends "base.html" %}
{% block content %}
<section>
  <form method="post" action="/blog/editcomment">
    <div class="form-group row">
      <label class="col-sm-2 form-control-label text-left">Content</label>
      <div class="col-sm-5">
        <textarea name="comment" cols="50" rows="5" class="form-control">{{ comment.comment }}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-2">
        {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endif %}
      </div>
    </div>
    <input type="hidden" value="{{comment.key().id()}}" name="comment_id"/>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button> |
        <button class="btn btn-default" href="/">Cancel</button>
      </div>
    </div>
  </form>
</section>
{% endblock %}
