{% extends "base.html" %}

{% block content %}
{% if posts.count() > 0 %}
  {% for post in posts %}
  <div class="jumbotron">
    <div class="row" style="font-weight:300; font-size:24px;">
      <div class="col-sm-6 vcenter">
        <a href="/blog/{{post.key().id()}}">{{ post.title }}</a>
      </div>
      <div class="col-sm-4 vcenter text-right" style="font-size:12px; color: gray;">
        {{ post.created.strftime('%d, %b, %Y') }} | created by: {{ post.author.username }}
      </div>
      <hr />
    </div>
    <p> {{post.content}} </p>
    <div class="row comment-like">
      <div class="col-sm-12">
        <form method="post" action="/blog/likepost" style="display: inline;">
          <button type="submit" class="btn btn-xs btn-primary">
            <input type="hidden" name="like" value="{{post.key().id()}}" />
            {% if post.likes.count() > 0 %} {{post.likes.count()}} &nbsp;&nbsp;{% endif %}<i class="glyphicon glyphicon-heart"></i> Like
          </button>
        </form>
        <a class="btn btn-sm btn-info" href="/blog/{{post.key().id()}}" style="display: inline;">Comment</a>
        <div class="pull-right">
          <a href="/blog/editpost?post_id={{post.key().id()}}" class="btn btn-xs btn-success">Edit</a> |
          <form method="post" action="/blog/deletepost" style="display: inline;">
            <input type="hidden" name="post_id" value="{{post.key().id()}}" />
            <button type="submit" class="btn btn-xs btn-danger">Delete</a>
          </form>
        </div>
      </div>
    </div>

  </div>
  {% endfor %}
{% else %}
  <div class="jumbotron">
    <h2>No one has written a blog yet, why dont you write one?</h2>
    <a class="btn btn-sm btn-primary" href='/blog/newpost'>Create my first post</a>
  </div>
{% endif %}
{% endblock %}
